.Navbar{
	position:fixed;
	bottom:0;
	left:0;
	height:70px;
	width:100%;
	background:transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 4%;
	border-top: 1px solid #EEEEEE;
	background: white;
	z-index: 10;
}

@media screen and (min-width: 750px) {
	.Navbar {
		top:55px;
		padding:0 6%;
		border-top: none;
		background: transparent;
	}
}