.HomePhoto img{ width:100%;
position: absolute;
top:0;
left:0px; 
cursor:pointer;
transition:0.3s;
transform-origin: center center;
box-shadow: 1px -1px 3px rgba(0,0,0,0.3)}

.HomePhoto img:nth-child(1){
	z-index:5;
}
.HomePhoto img:nth-child(2){
transform: translateX(-2px) translateY(-2px);
z-index:4;
}
.HomePhoto img:nth-child(3){z-index:3;
	transform: translateX(-4px) translateY(-4px);
}
.HomePhoto img:nth-child(4){
	z-index:2;
transform: translateX(-6px) translateY(-6px);
}
.HomePhoto img:nth-child(5){
	z-index:1;
	transform: translateX(-8px) translateY(-8px);
}

.HomePhoto{position: relative; 
	margin:auto;
height:400px;
max-width:500px;
width:90%;
z-index:1;}

.HomePhoto.Active img:nth-child(1){
	transform: translateX(0px) translateY(0px) ;
}
.HomePhoto.Active img:nth-child(2){
	transition-delay: 0.1s;
	transform: translateX(-2px) translateY(-10px) rotateZ(10deg);
}
.HomePhoto.Active img:nth-child(3){
	transition-delay: 0s;
	transform: translateX(-4px) translateY(-30px) rotateZ(-11deg);
}.HomePhoto.Active img:nth-child(4){
	transform:translateX(-2px) translateY(-20px) rotateZ(6deg);
}
.HomePhoto.Active img:nth-child(5){
	transform: translateX(-4px) translateY(-30px) ;

}

.Home p{
	font-size: 20px;
	margin-bottom:-30px;
}

.HomeDev{
	height:500px;
	width:500px;
	margin:auto;
	position: relative;
	margin-top:-50px;
	background-image: url(../../assets/Home/laptop.svg)
}

.LaptopScreen{
	width:82.1%;
	height:301px;
	overflow:hidden;
	margin: auto;
	padding-left: 8px;
	padding-top:97px;
}
.InnerScreen{
	overflow: overlay;
	overflow-x: hidden;
	height:205px;
	width:100%;
}
.HomeDev img{
	width:100%;margin:auto;
	cursor:pointer;
}

.HomeDev h2{
	position: absolute;
	bottom:100px;
	font-size: 90px;
	width:100%;
	z-index:2;
	text-align: center;
	transition:0.3s;
	cursor: pointer;
	transition-timing-function: cubic-bezier(0,1.83,.48,.93);
;
}
.HomeDev h2:before{
	content:"Development";
	position:absolute;
	bottom:-20px;
	transform:scaleY(0.2) skew(-10deg);
	left:80px;
	z-index:-1;
	color:transparent;
	text-shadow: 0 0 5px rgba(0,0,0,0.2);

	transition:0.3s;
	transition-timing-function: cubic-bezier(0,1.83,.48,.93);

}

.HomeDev h2:hover{
	transform:translateY(-20px);
}
.HomeDev h2:hover:before{
	text-shadow: 0 0 8px rgba(0,0,0,0.2);
	transform:translateY(20px) translateX(10px) scaleX(1.01) scaleY(0.15) skew(-10deg);
}


.Home h1{
	width:100%;
}

.Home p{width:100%;}

.HomeBreak{
	border-left:1px solid #ddd;
	height:200px;
	margin: 0 30px 
}

@media screen and (max-width:580px) {
	.HomeDev{
	height:400px;
	width:400px;
	margin:auto;
	position: relative;
	margin-top:-50px;
	background-image: url(../../assets/Home/laptop.svg)
}

.LaptopScreen{
	width:83.1%;
	height:243px;
	overflow:hidden;
	margin: auto;
	padding-left: 11px;
	padding-top:78px;
}
.HomeDev h2{
	position: absolute;
	bottom:75px;
	font-size: 70px;
	width:100%;
	z-index:2;
	text-align: center;
	transition:0.3s;
	cursor: pointer;
	transition-timing-function: cubic-bezier(0,1.83,.48,.93);
;
}
.HomeDev h2:before{
	content:"Development";
	position:absolute;
	bottom:-20px;
	transform:scaleY(0.2) skew(-10deg);
	left:80px;
	z-index:-1;
	color:transparent;
	text-shadow: 0 0 5px rgba(0,0,0,0.2);

	transition:0.3s;
	transition-timing-function: cubic-bezier(0,1.83,.48,.93);

}

.HomeDev h2:hover{
	transform:translateY(-20px);
}
.HomeDev h2:hover:before{
	text-shadow: 0 0 8px rgba(0,0,0,0.2);
	transform:translateY(20px) translateX(10px) scaleX(1.01) scaleY(0.15) skew(-10deg);
}
}

@media screen and (max-width:460px) {
	.HomeDev{
	height:330px;
	width:330px;
	margin:auto;
	position: relative;
	margin-top:-50px;
	background-image: url(../../assets/Home/laptop.svg)
}

.LaptopScreen{
	width:84.1%;
	height:200px;
	overflow:hidden;
	margin: auto;
	padding-left: 11px;
	padding-top:61px;
}
.HomeDev h2{
	position: absolute;
	bottom:55px;
	font-size: 70px;
	width:100%;
	left:5px;
	z-index:2;
	text-align: center;
	transition:0.3s;
	cursor: pointer;
	transition-timing-function: cubic-bezier(0,1.83,.48,.93);

}
.HomeDev h2:before{
	content:"Development";
	position:absolute;
	bottom:-20px;
	transform:scaleY(0.2) skew(-10deg);
	left:40px;
	z-index:-1;
	color:transparent;
	text-shadow: 0 0 5px rgba(0,0,0,0.2);

	transition:0.3s;
	transition-timing-function: cubic-bezier(0,1.83,.48,.93);

}

.HomeDev h2:hover{
	transform:translateY(-10px);
}
.HomeDev h2:hover:before{
	text-shadow: 0 0 8px rgba(0,0,0,0.2);
	transform:translateY(10px) translateX(10px) scaleX(1.01) scaleY(0.15) skew(-10deg);
}
.HomeBreak{
	margin:0px auto 30px auto !important;
}
}

@media screen and (max-width:1100px){
	.Home .Flex{flex-direction: column}
	.HomeBreak{
		border-left: none;
		border-bottom:1px solid #ddd;
		height:auto;
		width:80%;
		margin:40px auto 90px auto;}
}

