body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
	box-sizing: border-box;
  line-height: 1.5em;
  text-align: center;
  word-break: break-word;
}

img{display: block}

/*colours*/
.Red{color:#FF5370;}
.Cyan{color:#89DDFF;}
.PaleGreen{color:#8ea989 !important;}
.PaleGreen-Bg{
	background: #8ea989
}
.Green{color:#6f994d;}
.Grey{
	color:#AAA;
}
.LightGrey{
	color:#AAAAAA;
}

/*Fonts*/
.F-Active{
	font-family: active, sans-serif;
font-weight: 400;
font-style: normal;
}

.F-Bodini{
font-family: ltc-bodoni-175, serif;
font-weight: 400;
font-style: normal;
}
.F-OldStandard{
font-family: old-standard, serif;
font-weight: 400;
font-style: normal;
}
.F-Lato{
	font-family: lato, sans-serif;
font-weight: 400;
font-style: normal;
}
.F-Lora{
font-family: "lora", serif;
font-weight: 700;
font-style: normal;
letter-spacing: 1px}
.F-Code{
  font-family: source-code-pro, monospace;

font-weight: 400;

font-style: normal;


}

/*Spacings*/

.IconWrapper{padding:15px 15px;}
h1{font-size: 50px}
h2{font-size: 34px}
p{font-size: 18px;}

/*Scrollbar*/

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    background:rgba(0,0,0,0.0);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.Flex{display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center}

